.active{
    color:red;
    text-decoration:none;
    padding: 1rem;

}

.default{
    color:black;
    text-decoration:none;
    padding: 1rem;
}

.navbar{
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  padding: 20px 0px;

}